/*Midterm Website External*/

h1{
    color: darkred;
    font-family: serif;
}

body{
    background-color: oldlace;
}

p{
    font-family: timesnewroman;
}

b{
	
}

i{
	
}

/*Youtube video link*/
a{
	color: blue;
}

images{ 
    
}

nav{
	
}

li{
	
}

ul{
    color: darkblue;
}

div{
	
}

h2{
	color: darkred;
    font-family: timesnewroman;
}